{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 text-center mt-3">
			{% if request.GET.brand %}
                <h3 class="logo-font font-weight-bold">Browse {{ request.GET.brand }} Reviews Below
                    <i class="fas fa-arrow-down fa-sm"></i>
                </h3>
			{% else %}
                <h3 class="logo-font font-weight-bold">Browse Reviews Below
                    <i class="fas fa-arrow-down fa-sm"></i>
                </h3>
			{% endif %}
		</div>
		<div class="col-lg-6 text-center mt-3">
			<form method="GET" action="{% url 'all_reviews' %}">
				<div class="input-group w-75 review-search">
					<input
                        class="form-control border border-black rounded-2"
                        type="text"
                        name="r"
                        placeholder="Search An Review"
                        />
					<div class="input-group-append">
						<button
                            class="form-control btn btn-black border border-black rounded-2"
                            type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                        </button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="car-container col-10 offset-1">
			<div class="row mt-1 mb-2 mr-5">
				<div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
					<div class="sort-select-wrapper w-50">
						<select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
	                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
	                        <option value="make_asc" {% if current_sorting == 'make_asc' %}selected{% endif %}>Make (A-Z)</option>
                            <option value="make_desc" {% if current_sorting == 'make_desc' %}selected{% endif %}>Make (Z-A)</option>
                            <option value="model_asc" {% if current_sorting == 'model_asc' %}selected{% endif %}> Model (A-Z)</option>
                            <option value="model_desc" {% if current_sorting == 'model_desc' %}selected{% endif %}>Model (Z-A)</option>
                            <option value="year_desc" {% if current_sorting == 'year_desc' %}selected{% endif %}>Year (New to Old)</option>
                            <option value="year_asc" {% if current_sorting == 'year_asc' %}selected{% endif %}>Year (Old to New)</option>
	                    </select>
					</div>
				</div>
				<div class="col-12 col-md-6 order-md-first">
					<p class="text-muted mt-3 ml-5 text-center text-md-left logo-font">
						reviews | {{ reviews|length }} Reviews{% if search_term %} found for
						<strong>"{{ search_term }}"</strong>{% endif %}
					</p>
				</div>
			</div>
		</div>
			<div class="row mt-3">
				<div class="car-container col-10 offset-1">
					<div class="row">
						{% for review in reviews %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border border-dark">
                                    {% if review.image %}
                                        <a href="{% url 'review_page' review.id %}">
                                            <img class="card-img-top img-fluid" src="{{ review.image.url }}" alt="{{ review.make }} {{ review.model }}"/>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'review_page' review.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ review.make }} {{ review.model }}"/>
                                        </a>
                                    {% endif %}
                                        <div class="card-body pb-0 text-center">
                                            <p class="mb-0 font-weight-bold">{{ review.make }}</p>
                                            <p class="mb-0 font-weight-bold">{{ review.model }}</p>
                                            <p class="mb-0 font-weight-bold">{{ review.year }}</p>
                                            <p class="mb-0">Completed By</p>
                                            <p class="mb-0">{{ review.review_by }}</p>
                                        </div>
                                        <div class="card-footer bg-white pt-0 border-0 text-center">
                                            <div class="row">
                                                <div class="col">
                                                    {% if review.brand %}
                                                        <p class="small mt-1 mb-0">
                                                            <a class="text-muted logo-font"
                                                                href="{% url 'all_reviews' %}?brand={{ review.brand.brand_name }}">
                                                                <i class="fas fa-tags mr-1"></i>{{ review.brand.brand_name }}
                                                            </a>
                                                        </p>
                                                    {% endif %}
                                                    {% if request.user.is_superuser %}
                                                        <small class="ml-3">
                                                            <a href="{% url 'edit_review' review.id %}">Edit</a> |
                                                            <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
							        </div>
					            </div>

						{% if forloop.counter|divisibleby:1 %}
						<div class="col-12 d-sm-none mb-5">
							<hr>
						</div>
						{% endif %}

						{% if forloop.counter|divisibleby:2 %}
						<div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
							<hr>
						</div>
						{% endif %}

						{% if forloop.counter|divisibleby:3 %}
						<div class="col-12 d-none d-lg-block d-xl-none mb-5">
							<hr>
						</div>
						{% endif %}

						{% if forloop.counter|divisibleby:4 %}
						<div class="col-12 d-none d-xl-block mb-5">
							<hr>
						</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
	$('#sort-selector').change(function(){
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if(selectedVal != "reset"){
        var sort = selectedVal.split("_")[0];
        var direction = selectedVal.split("_")[1];

        currentUrl.searchParams.set("sort", sort);
        currentUrl.searchParams.set("direction", direction);

        window.location.replace(currentUrl);
    } else {
        currentUrl.searchParams.delete("sort", sort);
        currentUrl.searchParams.delete("direction", direction);

        window.location.replace(currentUrl);
    }
})
</script>
{% endblock %}