{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
	<div class="row h-100">
		<div class="col-12 text-center">
        <h6 class="display-1 logo-font text-black">Browse For Your German Vehicle Today</h6>
        </div>
	</div>
	<div class="row h-100">
		<div class="col-12">
        <a href="" class="browse-now-button btn btn-lg rounded-0">Browse Now</a>
        </div>
	</div>
</div>
{% endblock %}