{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
	<div class="row">
		<div class="col-6">
			<p class="display-4 text-white font-family font-weight-bold">Browse For Your German Vehicle Today</p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<a href="" class="browse-now-button btn btn-lg rounded-3 font-family font-weight-bold">Browse Now</a>
		</div>
	</div>
</div>
{% endblock %}