{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row browse-now">
            <div class="col-12">
               <div id="home-row" class="row text-center">
                    <div class="col text-white">
                        <h4 class="logo-font font-weight-bold bg-black my-1 pt-2">Time To Go German</h4>
                        <h4 class="logo-font font-weight-bold bg-red my-1 pt-2">Dependable, Faster, Superior</h4>
                        <h4 class="logo-font font-weight-bold bg-gold my-1 pt-2">The Best Place To Buy German In The Country</h4>
                    </div>
		        </div>
            </div>
        </div>
    </div>
{% endblock %}