{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">WishList</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if car %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Car Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Remove</th>
                                    <th scope="col">Buy</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td class="p-3 w-25">
                                            <img class="img-fluid rounded" src="{{ car.image.url }}">
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0"><strong>{{ car.make }} {{ car.model }} {{ car.year }}</strong></p>
                                            <p class="my-0 small text-muted">SKU: {{ car.sku|upper }}</p>
                                            <p class="my-0"><strong>Fuel Type:</strong> {{ car.fuel_type }}</p>
                                            <p class="my-0"><strong>Transmission:</strong> {{ car.transmission }}</p>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">{% load humanize %}
                                                £{{ car.price|intcomma }}</p>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your WishList is Empty.</p>
                    <a href="{% url 'cars' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Start Browsing</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}