<div class="collapse navbar-collapse" id="main-nav">
<ul class="navbar-nav w-auto mx-auto">
 <li class="nav-item active">
        <a class="nav-link text-black logo-font font-weight-bold mr-5" href="#">Home <span class="sr-only">(current)</span></a>
 </li>
<li class="nav-item dropdown logo-font">
        <a class="nav-link text-black font-weight-bold mr-5" href="#" id="browse-cars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse Cars
        </a>
        <div class="dropdown-menu" aria-labelledby="browse-cars-link">
          <a class="dropdown-item" href="#">All Cars</a>
          <a class="dropdown-item" href="#">Volkswagen</a>
          <a class="dropdown-item" href="#">Audi</a>
          <a class="dropdown-item" href="#">BMW</a>
          <a class="dropdown-item" href="#">Mercedes-Benz</a>
        </div>
      </li>
      <li class="nav-item dropdown logo-font">
        <a class="nav-link text-black font-weight-bold mr-5" href="#" id="car-reviews-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Car Reviews
        </a>
        <div class="dropdown-menu" aria-labelledby="car-reviews-link">
          <a class="dropdown-item" href="#">All Reviews</a>
          <a class="dropdown-item" href="#">Volkswagen Reviews</a>
          <a class="dropdown-item" href="#">Audi Reviews</a>
          <a class="dropdown-item" href="#">BMW Reviews</a>
          <a class="dropdown-item" href="#">Mercedes-Benz Reviews</a>
          <a class="dropdown-item" href="#">Write Your Own Car Review</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black logo-font font-weight-bold mr-5" href="#">Contact Us</a>
      </li>
</ul>
</div>