{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <h3 class="logo-font font-weight-bold">Contact Us</h3>
                <p class="logo-font text-muted text-black">See below for ways to contact us</p>
            </div>
        </div>
        <div class="accordion mt-2" id="contact_accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-black font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            By Phone
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#contact_accordion">
                    <div class="card-body">
                        <ul class="contact">
                            <li class="text-muted text-black font-weight-bold">Customer Service</li>
                            <li class="text-muted pb-2 text-black">0800 626 4000</li>
                            <li class="text-muted text-black font-weight-bold">Vehicle Delivery Enquiries</li>
                            <li class="text-muted pb-2 text-black">0345 666 3334</li>
                            <li class="text-muted text-black font-weight-bold">Complaints</li>
                            <li class="text-muted pb-2 text-black">0345 111 2222</li>
                            <li class="text-muted text-black font-weight-bold">Accounts & Returns</li>
                            <li class="text-muted pb-2 text-black">0345 222 4212</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link text-black font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        By Email
                    </button>
                </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#contact_accordion">
                    <div class="card-body">
                        <ul class="contact">
                            <li class="text-muted text-black font-weight-bold">Customer Service</li>
                            <li class="text-muted pb-2 text-black">customer-service@germanwhip.co.uk</li>
                            <li class="text-muted text-black font-weight-bold">Vehicle Delivery Enquiries</li>
                            <li class="text-muted pb-2 text-black">vehicle-delivery@germanwhip.co.uk</li>
                            <li class="text-muted text-black font-weight-bold">Complaints</li>
                            <li class="text-muted pb-2 text-black">complaints@germanwhip.co.uk</li>
                            <li class="text-muted text-black font-weight-bold">Accounts & Returns</li>
                            <li class="text-muted pb-2 text-black">accounts@germanwhip.co.uk</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link text-black font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        By Post
                    </button>
                </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#contact_accordion">
                    <div class="card-body">
                        <p class="font-weight-bold">For General Enquiries, Complaints or Feedback</p>
                        <ul class="contact">
                            <li class="font-weight-bold text-black py-0">Post To</li>
                            <li class="text-muted py-0 text-black">German Whips</li>
                            <li class="text-muted py-0 text-black">North House</li>
                            <li class="text-muted py-0 text-black">2 North Street</li>
                            <li class="text-muted py-0 text-black">Birmingham</li>
                            <li class="text-muted py-0 text-black">B3 4TH</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript">
            $('.collapse').collapse()
        </script>
{% endblock %}